# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# Logs
logs/
*.log
yarn-debug.log*
.yarn-integrity

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDEs and editors
.idea/
.DS_Store

# Environment variables
.env
coverage/